# Environments
.env
.venv/
venv/
ENV/
env/

# Databases
*.db
*.db-journal
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
